    body {
      /* display: flex; */
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ececec;
    }

    #mainCanvas {
        position: absolute;
          top: 0;
          left: 0;
    width: 760px;
      height: 580px;
      margin: 0 auto;
      display: block;
      border: 0;
      border-radius: 10px;
    }

    #renderer_dom{
      /* width: 100% !important; */
      /* height: 100%!important; */
    }

    #displays {
      /* display: flex; */
      width: 50%;
      height: 850px;
      /* border: 2px solid black; */
      /* justify-content: space-evenly; */
    }
    #settings_tab {
      /* display: flex; */
      width: 50%;
      height: 850px;
      /* border: 2px solid black; */
      /* justify-content: space-evenly; */
    }

    #laser_position_window {
   height: 830px;
         width: 98%;
      /* margin-left: 6px; */
      border: 2px solid rgb(220 220 220);
      border-radius: 8px;
    }

    #laser_position_window:hover ,#powder_bed:hover{

      cursor: pointer;
    }

    #princ_dir_span {
      display: block;
        /* margin: 3px 0 5px 0; */
        height: 30px;
        line-height: 30px;
    }

    #powder_bed{
      height: 415px;
       width: 98%;
       margin-bottom: 15px;
      /* margin-left: 6px; */
      border: 2px solid rgb(220 220 220);
      border-radius: 8px;
    }

    #settings{
      height: 850px;
      width: 98%;
      /* margin-left: 6px; */
      border: 2px solid rgb(220 220 220);
      border-radius: 8px;
    }

    canvas{
      border-radius: 8px;
    }
    #princ_values_span {
      display: block;
      /* margin: 3px 0 5px 0; */
      height: 30px;
      line-height: 30px;
    }

    #container {
      display: flex;
      margin: 20px auto;
      width: 1385px;
      height: 1400px;
      /* border: 1px solid   green; */
    }

    #controlls {
      display: flex;
      height: 450px;
      width: 100%;
      /* border: 1px solid orange; */
    }
    #app{
    background-color: white;
      margin: 10px auto;
      border-radius: 8px;
      width: 1450px;
      height: 950px;
      border: 4px solid #0f438e;
    }

    #input_stress_tensor {
      width: 367px;
      height: 400px;
      /* border: 1px solid orange; */
      /* padding-left: 40px; */
    }


#app_title{
    /* font-weight: bold; */
      height: 36px;
      margin: 10px auto 0;
      box-sizing: border-box;
      padding-left: 10px;
      line-height: 40px;
      width: 1366px;
      font-weight: bold;
      font-size: 22px;
      color: #505050;
      border-bottom: 2px solid #a5a5a5;
      /* background-color: #f1f3f4; */
      /* border-radius: 7px;*/
}
#cube:hover{
  cursor: pointer ;
}
#cube:active {
  cursor: grab;
}
    #outpuangle_controllst_info {
      width: 44%;
      height: 400px;
      /* border: 1px solid orange; */
    }

    #angle_controlls {
      width: 28%;
      display: flex;
          height: 280px;
      margin-top: 32px;
      /* align-items: center; */
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

      .control,.rs-transition,.rs-handle-round {
      cursor: pointer!important;
    }
    .control:active,
    .rs-transition:active,
    .rs-handle-round:active{
      cursor: pointer!important;
    }

    #output_info input::-webkit-outer-spin-button,
    #output_info  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .rs-tooltip-text {
      font-size: 17px !important;
      width: 56px !important;
    }

    /* input[type=number] {
      -moz-appearance: textfield;
    } */

    #laser_properties_input_container,#liggghts_input_container {
    padding: 20px;
       background-color: #f9f9f903;
    width: 588px;
     height: 259px;
    margin: 30px auto 0 16px;
    border-radius: 8px;
    border: 3px solid #d9d9d9;
    }

     #laser_properties_input_container{

     height: 210px;

     }



    #output_info {
      width: 590px!important;
      display: flex;
      margin-left: 12px;
      /* height: 220px; */
      width: 360px;
    }
    #output_stresses{
      width: 270px;
    }

    /* #principa_values_and_dir {
      margin-top: 20px;
    } */

    #input_tauxz {
      margin-left: 7px;
    }

    .stress_input,
    .stress_output {
      padding-left: 12px;
      box-sizing: border-box;
          border-radius: 6px;
      font-size: 18px;
      width: 85px;
      height: 30px;
      margin: 5px;
    }

    .stress_output {
      width: 69px;
      border: 0 0 1px 0 solid black!important;
    }

    #update_button,#align-button {
      margin-top: 40px;
    }
    #output_stresses_title{
      width: 100%;
      height: 30px;
      line-height: 30px;
    }

    #update-button ,
    #align-button ,#download_liggghts_input_button{
      color: #fff;
      background: #2e85c7;
      cursor: pointer;
      text-transform: uppercase;
      border: 2px solid #2e85c7;
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 14px;
      padding: 8px 5px;
          width: 137px;
      height: 20px;
      transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      font-weight: bold;
      border-radius: 3px;
      -webkit-appearance: none;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      line-height: 22px;
    }



    #download_liggghts_input_button{
      color: #fff;
      background: #636363;
      border: 2px solid #1c1c1c;


    }

        #download_liggghts_input_button:not([disabled]):hover {
      color: #000000;
      background: #fff;
    }

/*  */


    #align-button{
      width: 200px;
    }
    #update-button:not([disabled]):hover, #align-button:not([disabled]):hover {
      color: #2e85c7;
      background: #fff;
    }

    /* button.update-button:disabled {
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
          transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
          transparent 75%, transparent);
      background-size: 30px 30px;
      animation: animate-stripes 1s linear infinite;
      -webkit-animation: animate-stripes 1s linear infinite;
    } */

    #input_stress_tensor_span {
      display: block;
      font-weight: bold;
      height: 30px;
        line-height: 30px;
    }

    #alfa{
      background-image: url("../../images/rotate_x_dial.png");
      background-size: cover;
    }
    #beta {
      background-image: url("../../images/rotate_y_dial.png");
      background-size:cover;
    }    
    #gamma {
          background-image: url("../../images/rotate_z_dial.png");
          background-size: cover;
        }